.numbers{
    border-color: black;
    border-style: solid;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 2px;
}
.operators{
    border-color: black;
    border-style: solid;
    display: inline-block;
    margin-right: 2px;
}
body{
    width: 26%;
    height: fit-content;
    border-color: black;
    border-style: solid;
    margin-left: 35%;
}
.numberBox{
    border-color: black;
    border-style: solid;
    margin-left: 6%;
    margin-top: 35px;
}
.calcBody{
    padding: 3px;
}
button{
    background-color: cornflowerblue;
    color: white;
    border-color: black;
    border-style: solid;
    margin: 2px;
    width: 30px;
    border-radius: 10%;
}
#zero{
    width: 60%;
}
.equal{
    width: 90%;
}
.expression{
max-width: 100%S;
overflow-x:scroll;
height: 15%;
background-color: sandybrown;
font-size: 0.7em;
}

#wholecalc{
    background-color: slategray;
}
